#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.home_img{
  width: 70%;
  height: 70%;
  object-fit: cover;
}


.nav-bar{
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #1b1b1b;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100%;
}

.nav-bar button{
  margin: 1em;
}

.create_card select {
  width: 10%;
  padding: 1em;
  margin: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.create_card input {
  width: 10%;
  padding: 1em;
  margin: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.create_card button {
  width: 10%;
  padding: 1em;
  margin: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}


/* Add this to your CSS or use a CSS-in-JS solution like styled-components */
/* Add this to your CSS or use a CSS-in-JS solution like styled-components */
.card_container {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  width: 100%;
  
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 25%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.card p {
  margin: 5px 0;
}

.card_container ul {
  justify-content: center;
  list-style: none; /* Remove bullet points */
  padding: 0; /* Remove default padding */
  display: flex;
  flex-wrap: wrap;  
}

